<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Php Watson SDK Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <!-- Commented for TravisCI
    <php>
        <env name="TONE_ANALYSER_API_USERNAME" value=""/>
        <env name="TONE_ANALYSER_API_PASSWORD" value=""/>
    </php>
    -->
</phpunit>